# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
tfplan*
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terragrunt-cache/
.terragrunt-debug.log

# Sensitive files
secrets.auto.tfvars

# IDE and OS
.DS_Store

# Appzone config
config/
